# 依赖
node_modules/
.pnp
.pnp.js

# 生产构建
dist/
dist-ssr/
*.local

# 环境变量
.env
.env.local
.env.production
.env.development

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

.vercel
